.color{
    //position: relative;
    width: 350px;
    height: 100px;
    border-radius: 20px;
    //padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    //margin: 500px;
    margin-top: 50px;
    margin-left: 40%;
    padding-left: 90px;
    padding-top: 20px;

}
.font{
    position: relative;
    width: 350px;
    height: 100px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    //margin: 500px;
    margin-top: 50px;
    margin-left: 40%;
    
}
.c1{
    background-color: blue;
    
}
.c2{
    background-color: rgb(255, 0, 71);
    
}
.c3{
    background-color: rgb(0, 218, 214);
}
.c4{
    background-color: rgb(7, 175, 144);
}
.c5{
    background-color: rgb(0, 0, 0);
}
.c6{
    background-color: rgb(60, 60, 60);
}
.c7{
    background-color: rgb(255, 193, 235);
}
.c8{
    background-color: rgb(255, 198, 77);
}
.c9{
    background-color: rgb(77, 150, 167);
}
.c10{ 
    background-color: rgb(0, 150, 167);
}
.profile{

    //background-color: black;
    display: grid;
    width: 30%;
    height: 100%;
} 
.logo{
    width: 10%;
    height: 10%;
    margin-left: 1px;
}  
button{
    border-radius: 50%;
}
